---
import Section from "@/layouts/Section.astro";
import ProjectCard from "./ProjectCard.astro";
import vibrations from "@/assets/projects/vibrations/vibrations.png";
import ppr from "@/assets/projects/ppr/tool2.png";
import pokespa from "@/assets/projects/pokespa/01.png";
---

<Section name="Projects" animation={2}>
  <ul class="grid auto-fill-56 gap-4">
    <ProjectCard name="PokeSPA" image={{ src: pokespa, alt: "pokespa" }} />
    <ProjectCard name="Scheduler" image={{ src: ppr, alt: "ppr" }} />
    <ProjectCard
      name="Vibrations"
      image={{ src: vibrations, alt: "vibrations" }}
    />
    Self hosted my own Jellyfin and HomeAssistant instances, and plans for the future
  </ul>
</Section>
