---
import { Image } from "astro:assets";
interface Props {
  name: string;
  icon: string;
}

const { name, icon } = Astro.props;
---

<li class="flex gap-2 rounded-3xl items-center border-2 p-1 pr-3 border-cat-teal w-fit font-bold hover:bg-cat-teal hover:text-cat-surface0">
  <Image src={icon} alt={name} width={24} height={24} class="rounded-full" />
  <span>{name}</span>
</li>
