---
import Education from "@/components/Education";
import Experience from "@/components/Experience";
import Experience3D from "@/components/Experience3D";
import Header from "@/components/Header";
import Hero from "@/components/Hero";
import Layout from "@/layouts/Layout.astro";
// import Projects from "@/components/Projects";
---

<Layout title="JuanoD">
  <Header />
  <Experience3D client:load transition:persist />
  <main>
    <Hero />
    <Experience />
    <!--Projects /-->
    <!--Education /-->
    <footer class="h-12 flex items-center justify-center gap-4">
      <span>© Juan David Díaz - {new Date().getFullYear()}</span>
      <a href="https://librecounter.org/juanod.com/show" target="_blank">
        <img
          class="size-4"
          src="https://librecounter.org/counter.svg"
          referrer-policy="unsafe-url"
        />
      </a>
    </footer>
  </main>
</Layout>

<style>
  :root {
    color-scheme: dark;
  }
</style>
