---
import NavLink from "./NavLink.astro";
import Home from "./Home.astro";
---

<header class="fixed top-2 z-10 flex justify-end items-center w-full pr-4">
  <nav
    class="flex items-center gap-2 bg-cat-surface0/50 px-2 rounded-full backdrop-blur"
  >
    <NavLink href="#home">
      <Home /><span class="sr-only">Home</span>
      <NavLink href="#experience">Experience</NavLink>
      <!--NavLink href="#projects">Projects</NavLink-->
      <NavLink href="#education">About Me</NavLink>
    </NavLink>
  </nav>
</header>
