<section class="min-h-screen flex flex-col justify-center items-center p-4">
  <h1 class="text-6xl">JuanoD</h1>
  <div class="p-2" aria-role="none"/>
  <p class="">
    Documentation reading enjoyer. Constantly learning developer.
  </p>
</section>
