<section
  class="min-h-[calc(100dvh-8rem)] flex flex-col justify-center p-4"
  data-animation="0"
>
  <h1 class="text-6xl text-red-400 opacity-50">JuanoD</h1>
  <div class="p-2" aria-role="none"></div>
  <p class="text-gray-200">Documentation reading enjoyer. Constantly learning developer.</p>
</section>
<div class="h-32 flex items-center justify-center"><span class="border-b-4 border-r-4 rounded rotate-45 size-8"></div>
