---
import Section from "@/layouts/Section.astro";
import { Image } from "astro:assets";
---

<Section animation={2} name="Skills">
  <h3 class="text-cat-peach text-lg font-bold self-center text-balance mb-2">
    Technologies
  </h3>
  <a href="https://skillicons.dev" target="_blank" rel="noopener noreferrer">
    <Image
      src="https://skillicons.dev/icons?i=nextjs,tailwind,ts,react,css,docker,md,nodejs,django,py,nginx,postgres,rabbitmq&perline=6"
      alt="Nextjs Tailwind Typescript React CSS Docker Markdown NodeJS Django Python Nginx Postgres Rabbitmq"
      inferSize
    />
  </a>

  <h3
    class="text-cat-peach text-lg font-bold self-center text-balance mb-2 mt-8"
  >
    Tools
  </h3>
  <a href="https://skillicons.dev" target="_blank" rel="noopener noreferrer">
    <Image
      src="https://skillicons.dev/icons?i=git,figma,linux,vscode,blender,latex&perline=6"
      alt="Git Figma Linux VSCode Blender LaTeX"
      inferSize
    />
  </a>

  <h3
    class="text-cat-peach text-lg font-bold self-center text-balance mt-8 mb-2"
  >
    Learning
  </h3>
  <a href="https://skillicons.dev" target="_blank" rel="noopener noreferrer">
    <Image
      src="https://skillicons.dev/icons?i=kubernetes,astro&perline=6"
      alt="Kubernetes Astro"
      inferSize
    />
  </a>
</Section>
