---
interface Props {
  animation: number;
  name?: string;
  hash?: string;
  class?: string;
}

const { animation, name, hash, class: className } = Astro.props;
const id = name?.toLowerCase().replace(/ /g, "-") ?? hash;
---

<section class="p-4 pl-8 flex w-full max-w-[56rem] lg:ml-[12dvw] mb-24 first:mb-0 last-of-type:mb-0 print:mb-0 print:p-0 print:pb-2" id={id}>
  <div
    class="h-[50dvh] sticky top-0 w-px -ml-px print:h-auto"
    aria-hidden="true"
    data-animation={animation}
  >
  </div>
  <div class:list={["w-full", className]}>
    {
      name && (
        <>
          <h2 class="text-3xl text-cat-red flex gap-2 font-semibold print:font-normal">
            <slot name="icon" />
            {name}
          </h2>
          <div class="p-8 print:p-1" aria-hidden="true" />
        </>
      )
    }
    <slot />
  </div>
</section>
