---
interface Props {
  animation: number;
  name?: string;
}

const { animation, name } = Astro.props;
---

<section class="p-4 flex w-full">
  <div
    class="h-[50dvh] sticky top-0 w-px -ml-px"
    aria-role="none"
    data-animation={animation}
  >
  </div>
  <div class="w-full">
    {
      name && (
        <>
          <h2 class="text-3xl text-cat-red">{name}</h2>
          <div class="p-8" aria-role="none" />
        </>
      )
    }
    <slot />
  </div>
</section>
