---
interface Props {
  animation: number;
}

const { animation } = Astro.props;
---

<section class="min-h-[calc(100dvh-4rem)] p-4">
  <div class="flex w-full">
    <div
      class="h-[65vh] sticky top-0 w-px -ml-px"
      aria-role="none"
      data-animation={animation}
    >
    </div>
    <div class="w-full">
      <slot />
    </div>
  </div>
</section>
